<section>
    <div data-aos="fade-left" class="slider">
        <div class="slides">
            <input type="radio" name="radio-btn" id="radio1">
            <input type="radio" name="radio-btn" id="radio2">
            <input type="radio" name="radio-btn" id="radio3">
            <input type="radio" name="radio-btn" id="radio4">

            <div class="slide first">
                <img src="assets/bike4.jpg" alt="">
            </div>
            <div class="slide">
                <img src="assets/bike.jpg" alt="">
            </div>
            <div class="slide">
                <img src="assets/bike2.jpg" alt="">
            </div>
            <div class="slide">
                <img src="assets/bike3.jpg" alt="">
            </div>
            <div class="navigation-auto">
                <div class="auto-btn1"></div>
                <div class="auto-btn2"></div>
                <div class="auto-btn3"></div>
                <div class="auto-btn4"></div>
            </div>

        </div>
        <div class="navigation-manual">
            <label for="radio1" class="manual-btn"></label>
            <label for="radio2" class="manual-btn"></label>
            <label for="radio3" class="manual-btn"></label>
            <label for="radio4" class="manual-btn"></label>
        </div>
    </div>
    <div data-aos="fade-right" class="text">
        <h1>How Biking helps the Community?</h1>
    <p>
        
        Cycling makes towns and cities more liveable, improving access for everyone <br>
        it improves quality of life quality in towns and cities. ‘Quality of life’ rankings <br>
        consistently show bike-friendly cities at the top. It also improves <br> social connection in towns and cities.
        With less traffic people spend more time <br> in their neighbourhoods and on city streets.  
        Out of their cars, people can interact <br> more. This reduces social isolation. With a bike you don’t need to 
        have the money <br> for a car and petrol, and you don’t need to be able to drive.  This improves access <br> to work, play, and key services.
        For kids, this means not always relying <br> on Mum and Dad (or the bus) for a lift to sports, clubs and school. 
    </p>
    </div>
    

</section>
