<section data-aos="zoom-in-up" data-aos-duration="3000">
    <div data-aos="zoom-in-up" class="title">
    <h1 data-aos="zoom-in-up" class="pp1">Biking is Good for you health</h1>
</div>
<div data-aos="zoom-in-up" class="title2">
    <h1 data-aos="zoom-in-up" class="pp2">Biking is Good for the environment</h1>
</div>
    <p data-aos="zoom-in-up" class="p1">
        Cycling increases physical activity, making people healthier and more <br> productive
Communities where more people cycle and walk have better <br> health profiles.
Cycling just 32 km per week reduces the risk of heart <br> disease to less than half, compared to people who don’t exercise. <br>
Cycling reduces the likelihood of serious illnesses including heart disease, <br> type-two diabetes, all types of cancer, high blood pressure and obesity. <br>
We need to get more active.  In New Zealand: Half of adults do not <br> get enough exercise,
Only 10% of secondary school students met the <br> current recommendations of 60 minutes of physical activity daily.  <br>
On average, New Zealand adults now spend four and three-quarter <br> hours a week driving. 
Physical inactivity contributes to around 8 percent <br> of all deaths,
One in three adults and one in five children are overweight. <br>
Physical inactivity is the second leading risk factor for becoming disabled <br>
There is a link between decreased active transport (walking and cycling) <br> and rising rates of obesity
 Active transport is four times more effective than <br> sport at reducing obesity
    </p>
   
    <p data-aos="zoom-in-up" class="p2">
        
        Reduced traffic congestion, noise and air pollution
43% of <br> urban vehicle trips are less than 5 km, and 17% are less than 2 km. <br>
Shifting 5% of car trips to bicycle reduce emissions by up to 8%. <br>
Fewer cars on the road meaning less traffic and easier parking for <br> those who need to drive.
Bike riding, on the other hand, uses <br>
 minimal fossil fuels. This means riding your bike offers <br>
  a pollution-free mode of transport. If you replace a car <br> with a bike each time you go to work, you will save approximately <br>
   3000 pounds of greenhouse gas emissions each year.   
   Imagine how <br>
    many cars are in places like Los Angeles, Seattle, Washington D.C., <br>
     Chicago, etc. If the number of cars on the road continues to increase, <br>
      then we will have to develop new roads. Of course, it is the green areas <br>
       that will suffer the most in those cases. Why would we replace beautiful <br>
        parks with streets? If we all start riding a bike, there will be many more <br> green terrains.
    </p>
    
</section>
